*,

*::before,

*::after{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-size: 100%;
}

body{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a{
  color:#2E2E2E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9em;  /* Size of all hyperlinks */
}

/* Header */
header{
  width: 100%;
  background-color: #F4F4F4;
  /* position: relative; */
}

header{
  display: flex;
}

.NavBar{
  width: 100%;
  /* overflow: visible; */
  display: flex;
  min-width: 600px;
  align-items: center;
  justify-content: space-around;
  justify-content: left;
}

header .logo{
  height: 120px;
  /* margin-top: -15px;
  margin-right: 55px;
  margin-bottom: -22px;
  margin-left: 20px; */
  }


li{
  cursor: pointer;
  line-height: 2px;
  display:inline-block;
  padding: 40px;
}

li a{
  color: #2e2e2e;
  position: relative;
  letter-spacing: 0.5px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 35px;
  transition: color 0.3s linear;

}

li a:after{
  content: " ";
  position: absolute;
  background-color: #007BA7;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s;
}

li a:hover::after{
  font-size: 21px;
  cursor: pointer;
  text-decoration:underline;
  transform-origin: left;
  transform: scaleX(1);
}

.Set_image_block_main{
  float: left;
  min-width: 50vw;
  max-width: 50vw;
}

.Set_image_block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.Set_image{
  height: 45vh;
  width: 550px;
  object-fit:contain;
}
/* .clearfix:after{
  content: "";
  display: table;
  clear: both;
} */


.set_description{
  /* display: block; */
  float: left;
  min-width: 20vw;
  max-width: 40vw;
}

.h1{
  display: block;
  /* display: flexbox; */
  /* float: left; */
  /* margin-left: 150px; */
  /* margin-top: 50px; */
  margin: 20px 40px;
  letter-spacing: 0.5px;
  font-size: 40px;
  text-decoration: none;
  font-weight: 400;
}
.set_description_container{
  display: block;
  margin: 20px 40px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  gap: 40 px;
}

.rating{
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  /* padding: 300px, 10px; */
  /* border-radius: 30px; */
  gap: 8px;
  background: transparent;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

/* .rating:nth-child(1){
  transform: translateX(-80px);
}
.rating:nth-child(3){
  transform: translateX(80px);
} */


.rating input {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
} 

.rating label{
  display: inline;
}

.rating input::before{
  content: "\f005";
  position: absolute;
  font-family: fontAwesome;
  font-size: 34px;
  color: #111;
  transition: 0.5s;
}

.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before{
  color: var(--c);
} 

.desc_text{
  margin: 40px 10px 20px 0px;
  /* margin-right: 20%; */
  text-align: left;
  text-wrap: balance;
  /* margin-top: 20px;
  margin-right: 940px; */
}

.short_desc{
  margin: 20px 0px;
}

.yr{
  display: inline-block;
  padding-left: 5px;
}
.weight{
  display: inline-block;
  padding-left: 5px;
}
.itemd{
  display: inline-block;
  padding-left: 5px;
}
.ages{
  display: inline-block;
  padding-left: 5px;
}
.ico{
}
.bricks{
  display: inline-block;
  margin: 20px 20px 20px 0px;
  /* margin-bottom: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: green; */
}
.minifigs{
  display: inline-block;
  margin: 20px 20px 20px 0px;
}

.brk{
  height: 90px;
  width: 70px;
  object-fit: cover;
  margin-bottom: 0px;
}

.mnfg{
  height: 90px;
  width: 70px;
  object-fit: cover;
  margin-bottom: 0px;
}

.ico p{
  text-align: center;
}

.bd{
  display: inline-block;
  margin-left: 10px;
  color: red;
  letter-spacing: 0.5px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 35px;
  transition: color 0.3s linear;
}

.bd_all{
  display: inline-block;
  margin-left: 10px;
  color: whitesmoke;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(24, 203, 216);
  letter-spacing: 0.5px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 35px;
  transition: color 0.3s linear;
}













































/* Footer */

footer{
  width: 100%;
  background-color: white;
  max-width: 100%;
  margin: auto auto 0 auto;
  overflow: inherit;
  overflow: auto;
}

/* .footer */

footer .copyright {
  font-size: 12pt;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
