.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Space between slider and dots */
  gap: 10px; /* Spacing between dots */
}

.dot {
  width: 15px;
  height: 15px;
  background: black; 
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #007BA7; /* Highlight color for the active dot */
}

.dot:hover {
  opacity: 0.7;  /* Hover color */
}

.dots label {
  width: 15px;
  height: 15px;
  background: black; 
  margin: 0 5px;
  border-radius: 50%; /* Make the dots circular */
  opacity: 0.5; /* Subtle visibility */
  cursor: pointer;
  transition: 0.2s ease-in-out;
}