.rating-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin: 20px 0;
}

.progress-bar {
  width: 200px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 12px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #ff9933;
  border-radius: 12px 0 0 12px;
}

.rating-value {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.info-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.info-button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.info-popup {
  position: absolute;
  top: 45px;
  left: -20px;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  padding: 18px;
  z-index: 1000;
  width: 300px;
  font-size: 15px;
  line-height: 1.6;
}

.info-popup ul{
  margin-left: 40px;
}

.info-popup::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 30px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  z-index: 1;
}

.info-popup::before {
  position: absolute;
  top: -12px;
  left: 28px;
  width: 0;
  height: 0;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #dddddd transparent;
  z-index: 0;
}
